* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.navbar {
	color: white;
}

.NavbarBrand {
	/* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
	/* font-style: ; */
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}
.NavLink {
	color: white;
}
.span {
	color: white;
	font-size: xx-large;
}

.DropdownToggle {
	color: white;
	/* background-color: rgb(202, 0, 0); */
}

.icon {
	font-size: xx-large;
}
